#time{
	display: block;
	font-size: 52px;
	width: 100%;
	color: white;
	text-align: center;
}

img{
	display: block;
	height: 400px;
	width: 400px;
	margin: 0 auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}